{% extends "::base.html.twig" %}

{% block header %}
<div id="header" class="header">
    {% block top_nav %}
        {% include '::topNav.html.twig' with { } %}
    {% endblock %}
        
    {% block header_logo %}
        <div id="logo">
                <h1><a href="#">Vasper<span>Server</span></a></h1>
                <p class="description">your game zone</p>
        </div>
    {% endblock %}
        
    {% block main_nav %}
        
    {% endblock %}
        
    {% block sort_nav %}
        
    {% endblock %}
</div>
{% endblock %}

{% block container %}
    <div id="main" >
        <div id="main-bot">
            
            {% block content %}
                <div class="cl">&nbsp;</div>
		<!-- Content -->
		<div id="content">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="ui-widget">
                        <div class="flash-message ui-state-highlight ui-corner-all">
                            <em>Notice</em>: {{ flashMessage }}
                        </div>
                    </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="ui-widget">
                        <div class="flash-message ui-state-error ui-corner-all">
                            <em>Notice</em>: {{ flashMessage }}
                        </div>
                    </div>
                    {% endfor %}
                        
                    {% block slider %}
                        
                    {% endblock %}
                        
                    {% block article_colone %}
                        
                    {% endblock %}
            
                    {% block fos_user_content %}{% endblock fos_user_content %}
                </div>
		<!-- / Content -->
            {% endblock %}
            
            {% block sidebar %}
                <div id="sidebar">
                    {% block search %}
                        {% include '::search.html.twig' %}
                    {%endblock%}
                    
                    {% block signin %}
                        {% include '::signin.html.twig' %}
                    {% endblock %}
                        
                    {% block article_image %}
                        {% include '::verticalTopArticleImage.html.twig' with { 'title': 'Top Articles Image', 'articles': {'article':{'title': 'bla', 'content': 'bla'}, 'article2':{'title': 'bla', 'content': 'bla'},'article3':{'title': 'bla', 'content': 'bla'}} } %}
                    {% endblock %}
                        
                    {% block article_text %}
                        {% include '::verticalTopArticleText.html.twig' with { 'title': 'Top Articles Text', 'articles': {'article':{'title': 'bla', 'content': 'bla'}, 'article2':{'title': 'bla', 'content': 'bla'},'article3':{'title': 'bla', 'content': 'bla'}} } %}
                    {% endblock %}
                </div>
		<!-- / Sidebar -->
		<div class="cl">&nbsp;</div>
            {% endblock %}
            
            {% block footer %}
                <!-- Footer -->
                <div id="footer">
                    <div class="navs">
                        <div class="navs-bot">
                            <div class="cl">&nbsp;</div>
                            <ul>
                                <li><a href="#">community</a></li>
                                <li><a href="#">forum</a></li>
                                <li><a href="#">video</a></li>
                                <li><a href="#">cheats</a></li>
                                <li><a href="#">features</a></li>
                                <li><a href="#">downloads</a></li>
                                <li><a href="#">sports</a></li>
                                <li><a href="#">tech</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">pc</a></li>
                                <li><a href="#">xbox</a></li>
                                <li><a href="#">360</a></li>
                                <li><a href="#">wii</a></li>
                                <li><a href="#">ps3</a></li>
                                <li><a href="#">ps2</a></li>
                                <li><a href="#">psp</a></li>
                                <li><a href="#">ds</a></li>
                            </ul>	
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>
                    <p class="copy">&copy; </p>
                </div>
                <!-- / Footer -->
            {% endblock %}
        </div>
    </div>
{% endblock %}
