{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="block">
    <div class="block-bot">
        <div class="head">
            <div class="head-cnt"></div>
        </div>
        <div class="block-cnt">
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
        </div>
    </div>
</div>
    
{% endblock fos_user_content %}
