<div class="block panel panel-success">
    <div class="block-bot" >
        <div class="head panel-heading">
            <div class="head-cnt">
                <h3 class="panel-title">{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</h3>
            </div>
        </div>
        <div class="block-cnt panel-body">
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">

                {{ form_widget(form) }}

                <div class="form-actions">
                    <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-success pull-right" />
                </div>
            </form>
        </div>
    </div>
</div>