
{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block title %}{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }} - {{ parent() }}{% endblock %}

{% block fos_user_content %}
{% include "SonataUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}