{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div id="content" class="block">
        <div class="block-bot">
            {% block sonata_page_breadcrumb %}
                {% if breadcrumb_context is not defined %}
                    {% set breadcrumb_context = 'user_index' %}
                {% endif %}
                <div class="row-fluid clearfix">
                    {{ sonata_block_render_event('breadcrumb', { 'context': breadcrumb_context, 'current_uri': app.request.requestUri }) }}
                </div>
            {% endblock %}
            <div class="head">
                <div class="head-cnt">
                    <h3>{% block sonata_profile_title %}{% trans from 'SonataUserBundle' %}sonata_profile_title{% endtrans %}{% endblock %}</h3>
                </div>
            </div>
            <div class="block-cnt sonata-user-show row row-fluid">

                <div class="span2 col-lg-2" style="padding: 8px 0;">
                    {% block sonata_profile_menu %}
                        {{ sonata_block_render({'type': 'sonata.user.block.menu'}, {'current_uri': app.request.requestUri}) }}
                    {% endblock %}
                </div>

                <div class="span10 col-lg-10">
                    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}

                    {% block sonata_profile_content '' %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
