{% extends "::layout.html.twig" %}
      
{% block title %}Vasper Server{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/vaspergeneral/css/style.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

