
{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block title %}{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }} - {{ parent() }}{% endblock %}

{% block fos_user_content %}
    <div class="row block">
        <div class="col-sm-6 block-bot">
            {% block sonata_user_login %}
                <div class="panel panel-info ">
                        <div class="panel-heading head">
                            <div class="head-cnt">
                                <h3 class="panel-title">{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}</h3>
                            </div>
                        </div>

                        <div class="panel-body block-cnt">

                            {% block sonata_user_login_error %}
                                {% if error %}
                                    <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                                {% endif %}
                            {% endblock %}

                            {% block sonata_user_login_form %}
                                <form action="{{ path("fos_user_security_check") }}" method="post" role="form"
                                      class="form-horizontal">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                                    <div class="form-group">
                                        <label for="username"
                                               class="col-sm-4 control-label">{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}</label>

                                        <div class="col-sm-8"><input type="text" class="form-control" id="username"
                                                                              name="_username" value="{{ last_username }}"
                                                                              required="required"/></div>
                                    </div>


                                    <div class="form-group control-group">
                                        <label for="password"
                                               class="col-sm-4 control-label">{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}</label>

                                        <div class="col-sm-8"><input type="password" class="form-control" id="password"
                                                                              name="_password" required="required"/></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <div class="checkbox control-group">
                                                <label for="remember_me">
                                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group control-group">
                                        <div class="controls col-sm-offset-4 col-sm-8">
                                            <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <input type="submit" id="_submit" name="_submit" class="button btn btn-primary"
                                                   value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                                        </div>
                                    </div>
                                </form>
                            {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock fos_user_content %}
