
{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="block">
        <div class="block-bot">
            <div class="head">
                <div class="head-cnt">
                    Mon Profile
                </div>
            </div>
            <div class="block-cnt">
                {% if user %}
                    {{ "form.label_username" | trans({}, 'SonataUserBundle')}} : {{ user.username }}<br/>
                    {{ "form.label_email" | trans({}, 'SonataUserBundle')}} : {{ user.email }}<br/>
                {% else %}
                    Vous devez vous connecter !!!!
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
