{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "ApplicationSonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
